body{
  background-color: #b9bdc1;
}
.calculadora {
  background-color: #333533;
  width: 200px;
  margin: 220px auto;
  padding: 20px;
  border: 2px solid #242423;
  text-align: center;
  border-radius: 30px;
}
input{
  border: 2px solid #242423;
  background-color: #E8F1F2;
  width: 80%;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 18px;
}
.itens button {
  border: 2px solid #242423;
  width: 48px;
  height: 30px;
  margin: 5px;
  font-size: 18px;
  border-radius: 30px;
}
